html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.tic-cell {
    width: 60px;
    height: 60px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.table.table-borderless .border-right {
    border-right: 2px solid black !important;
}

.table.table-borderless .border-bottom {
    border-bottom: 2px solid black !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.match-board {
    border-collapse: collapse;
    margin-bottom: 1rem;
}

    .match-board td {
        border: 1px solid #ccc;
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
        font-size: 1.2rem;
    }

.hidden {
    display: none;
}

table.match-board tr:first-child td:first-child {
    border-top: none;
    border-left: none;
}
table.match-board tr:first-child td:nth-child(2) {
    border-top: none;
}
table.match-board tr:first-child td:last-child {
    border-top: none;
    border-right: none;
}
table.match-board tr:last-child td:first-child {
    border-bottom: none;
    border-left: none;
}
table.match-board tr:last-child td:nth-child(2) {
    border-bottom: none;
}
table.match-board tr:last-child td:last-child {
    border-bottom: none;
    border-right: none;
}